@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddCar</h2>
    <form method="post" action="/Home/LoadModels">
        <select id="br" name="br" class="cb1" onchange="this.form.submit()">
            <option> </option>
            @foreach (Prakitka2021v3.Models.Brands b in ViewBag.Brands)
            {
                if (b.BrandID == ViewBag.Br)
                {
                    <option selected="selected" value="@b.BrandID">@b.Brand</option>
                }
                else
                {
                    <option value="@b.BrandID">@b.Brand</option>
                }
            }
        </select>
        <select id="mo" name="mo" class="cb2" onchange="this.form.submit()">
            <option> </option>
            @foreach (Prakitka2021v3.Models.Models b in ViewBag.Models)
            {
                if (b.BrandID == ViewBag.Br)
                {
                    if (b.ModellD == ViewBag.Mo)
                    {
                        <option selected="selected" value="@b.ModellD">@b.Model</option>
                    }
                    else
                    {
                        <option value="@b.ModellD">@b.Model</option>
                    }
                }
            }
        </select>
    </form>
    <form method="post">
        <p>
            <label for="tb1">Комлектация</label><input id="config" name="config" class="ab" type="text" size="40">
        </p>
        <p>
            <label for="tb2">Объем двигателя</label><input id="eCapacity" name="eCapacity" class="ab" type="text" size="40">
        </p>
        <p>
            <label for="tb3">Мощность двигателя</label><input id="ePower" name="ePower" class="ab" type="text" size="40">
        </p>
        <p>
            <label for="tb4">Цена</label><input id="price" name="price" class="ab" type="text" size="40">
        </p>
        <p>
            <label for="company">Салон</label>
            <select id="company" name="company" class="ab">
                <option> </option>
                @foreach (Prakitka2021v3.Models.Companies b in ViewBag.Companies)
                {
                    <option value="@b.CompanyID">@b.CompanyName</option>
                }
            </select>
        </p>
        <p>
            <label for="box">КПП</label>
            <select id="box" name="box" class="ab">
                <option value="-">-</option>
                <option value="AT">AT</option>
                <option value="MT">MT</option>
            </select>
        </p>
        <button type="submit">создать</button>
    </form>
